@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* ::after,
* ::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: linear-gradient(90deg, #bca7ab, #b8a0a4, #946971);
}

body {
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bg-area {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  animation: animate 20s ease-in-out infinite alternate;
  background: linear-gradient(45deg, #bca7ab 50%, #b297a2 -50%);
  opacity: 0.5;
  z-index: -1;
}

.layer-2 {
  animation-direction: alternate-reverse;
  animation-duration: 15s;
}

.layer-3 {
  animation-duration: 20s;
}

.effect:hover {
  background: #b297a2;
  opacity: 0.8;
  transition: all 300ms ease;
}

.amore_brand {
  text-shadow: 1px 1px 2px black;
  font-weight: 400;
}

/* NAVBAR */

#navbar {
  margin: 25px;
}

.nav_container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo--img {
  width: 80px;
  height: auto;
  border-radius: 50px;
  box-shadow: 2px 2px 24px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  margin-right: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_link {
  text-decoration: none;
}

.nav_link--btn {
  border: none;
  box-shadow: 2px 2px 8px;
  border-radius: 50px;
  font-size: 16px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  background-color: #946971;
}

a {
  text-decoration: none;
  color: black;
}

/* MAIN */

#main {
  margin: 25px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-bottom: 24px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

p {
  font-size: 24px;
}

.book_now--btn {
  border: none;
  box-shadow: 2px 2px 8px;
  border-radius: 50px;
  font-size: 16px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  background-color: #946971;
}

.textbox_left {
  width: calc(100% / 2);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  border-radius: 50px;
  box-shadow: 4px 4px 12px black;
}

/* ABOUT US */

#about {
  margin: 25px;
}

.about_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-bottom: 24px;
}

.laptop--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.textbox_right {
  width: calc(100% / 2);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TESTING */

.bio_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-bottom: 24px;
}

.stacked_imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.stacked--imgs {
  width: 100px;
  height: auto;
  margin: 15px 0;
}

.stacked--imgs2 {
  width: 200px;
  height: 200px;
  margin: 15px 0;
}

/* AROMA */

.aroma_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin-bottom: 24px;
}

.stacked--imgs3 {
  width: 300px;
  height: 200px;
  margin: 75px 0;
}
.stacked--imgs4 {
  width: 250px;
  height: 275px;
  margin: 75px 0;
}
.stacked--imgs5 {
  width: 300px;
  height: 150px;
  margin: 75px 0;
}

/* CONTACT FORM */

#contact {
  margin: 25px;
}

.contact_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 24px;
  padding: 24px;
  background: linear-gradient(45deg, #ac8e94, #b297a2);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.book_now {
  font-size: 16px;
  text-align: center;
  width: 55%;
  margin-bottom: 24px;
}

.envelope {
  width: 25px;
  height: 25px;
}

/* FOOTER */

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.copyright_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  width: 12px;
  height: 12px;
  margin-bottom: 24px;
}

.copy_text {
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  margin-bottom: 24px;
}

/* RESPONSIVENESS */

@media (max-width: 370px) {
  .container {
    flex-direction: column;
  }

  .about_container {
    flex-direction: column-reverse;
  }

  .bio_container {
    flex-direction: column;
  }

  .stacked_imgs {
    flex-wrap: wrap;
    justify-content: center;
  }

  .textbox_left,
  .textbox_right {
    width: 100%;
  }

  h1 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 8px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .textbox_left,
  .textbox_right {
    width: 100%;
  }

  .about_container {
    flex-direction: column-reverse;
  }

  .bio_container {
    flex-direction: column;
  }

  .aroma_container {
    flex-direction: column-reverse;
  }

  .stacked_imgs {
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 10px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 728px) {
  .container {
    flex-direction: column;
  }

  .textbox_left,
  .textbox_right {
    width: 100%;
  }

  .about_container {
    flex-direction: column-reverse;
  }

  .bio_container {
    flex-direction: column;
  }

  .aroma_container {
    flex-direction: column-reverse;
  }

  .stacked_imgs {
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 36px;
    font-weight: 900;
    width: 100%;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    width: 100%;
  }

  p {
    font-size: 20px;
    width: 100%;
  }
}

@keyframes animate {
  0% {
    background-position: 0 50%;
    transform: translateX(-50%);
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
    transform: translateX(50%);
  }
}
